/*********************** forside **********************/
.forside_tekst {
  margin-left: 5%;
  margin-top: -210%;
  font-family: mixta-didone, serif;
  font-size: 30px;
  letter-spacing: 20px;
  color: #5005f2;
}

.produtiv {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-top: 0%;
  margin-left: 3.5%;
}

.optimistisk {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 15.5%;
  margin-top: -34.3%;
}

.rar {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 26.5%;
  margin-top: -42.7%;
}

.trofast {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 37%;
  margin-top: -8.6%;
}

.fornuftig {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 47%;
  margin-top: -25.7%;
}

.opmærksom {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 58.5%;
  margin-top: -34.2%;
}

.lille {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 69%;
  margin-top: -33.5%;
}

.impulsiv {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 79.9%;
  margin-top: -17.4%;
}

.ordentlig {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 89.7%;
  margin-top: -30%;
}

@media (min-width: 800px) {
  .forside_tekst {
    margin-left: -60%;
    margin-top: 20%;
    font-family: mixta-didone, serif;
    font-size: 100px;
    letter-spacing: 50px;
    color: #5005f2;
    padding-left: 78%;
    padding-top: 0%;
  }

  .produtiv {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: 0%;
    margin-left: 18.3%;
    font-size: 20px;
  }

  .optimistisk {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 27%;
    margin-top: -10.5%;
    font-size: 20px;
  }

  .rar {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 35.5%;
    margin-top: -13.2%;
    font-size: 20px;
  }

  .trofast {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 43%;
    margin-top: -2.7%;
    font-size: 20px;
  }

  .fornuftig {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 49.8%;
    margin-top: -8%;
    font-size: 20px;
  }

  .opmærksom {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 58.6%;
    margin-top: -10.5%;
    font-size: 20px;
  }

  .lille {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 65.7%;
    margin-top: -10.3%;
    font-size: 20px;
  }

  .impulsiv {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 73.3%;
    margin-top: -5.5%;
    font-size: 20px;
  }

  .ordentlig {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 80.7%;
    margin-top: -9.5%;
    font-size: 20px;
  }
}
/************************ tema 2 ****************************/

.web {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: -209%;
  margin-left: 13%;
}

.website {
  color: #5005f2;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 5%;
  margin-left: 5%;
}

.website_tekst {
  color: #5005f2;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
}

.computere {
  width: 70%;
  height: auto;
  margin-left: 15%;
  margin-top: 5%;
}

.mincomputer {
  width: 70%;
  height: auto;
  margin-left: 15%;
}

.emnesite {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 10%;
  margin-left: 5%;
}

.emnesite_tekst {
  color: #5005f2;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
}

@media only screen and (min-width: 800px) {
  .web {
    color: #5005f2;
    font-size: 30px;
    font-family: mixta-didone, serif;
    margin-top: 10%;
    margin-left: 36%;
  }

  .grid_website {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .website {
    color: #5005f2;
    font-size: 20px;
    font-family: mixta-didone, serif;
    margin-top: 11%;
    margin-left: 19%;
    grid-row: 1;
    grid-column: 1;
  }

  .website_tekst {
    color: #5005f2;
    font-family: mixta-didone, serif;
    margin-top: 17%;
    margin-left: 19%;
    grid-row: 1;
    grid-column: 1;
  }

  .computere {
    width: 50%;
    height: auto;
    margin-left: 52%;
    margin-top: 10%;
    grid-row: 1;
    grid-column: 2;
  }

  .mincomputer {
    width: 50%;
    height: auto;
    margin-left: 5%;
    grid-row: 1;
    grid-column: 3;
    margin-top: 8%;
  }

  .emnesite {
    color: #5005f2;
    font-family: mixta-didone, serif;
    font-size: 20px;
    margin-top: 10%;
    margin-left: 6%;
  }

  .emnesite_tekst {
    color: #5005f2;
    font-family: mixta-didone, serif;
    margin-top: 0.5%;
    margin-left: 6%;
    margin-right: 6%;
  }
}

/************************** tema 3 **********************/
.ux {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: -211%;
  margin-left: 17%;
}

.pitch {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 5%;
  margin-left: 5%;
}

.pitch_tekst {
  color: #5005f2;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
}

@media (min-width: 800px) {
  .ux {
    color: #5005f2;
    font-size: 30px;
    font-family: mixta-didone, serif;
    margin-top: 10%;
    margin-left: 37%;
  }

  .pitch {
    color: #5005f2;
    font-size: 20px;
    font-family: mixta-didone, serif;
    margin-top: 0%;
    margin-left: 6.5%;
  }

  .pitch_tekst {
    color: #5005f2;
    font-family: mixta-didone, serif;
    margin-top: 0%;
    margin-left: 6.5%;
    margin-right: 6.5%;
  }
}

/************************** tema 4 **********************/
.animation {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: -211%;
  margin-left: 31%;
}

.temaopgave {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 5%;
  margin-left: 5%;
}

.pitch_tekst {
  color: #5005f2;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
}

@media (min-width: 800px) {
  .animation {
    color: #5005f2;
    font-size: 30px;
    font-family: mixta-didone, serif;
    margin-top: 10%;
    margin-left: 42.5%;
  }

  .temaopgave {
    color: #5005f2;
    font-size: 20px;
    font-family: mixta-didone, serif;
    margin-top: 0%;
    margin-left: 6.5%;
  }

  .pitch_tekst {
    color: #5005f2;
    font-family: mixta-didone, serif;
    margin-top: 0%;
    margin-left: 6.5%;
  }
}

/************************** tema 5 **********************/
.indhold {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: -211%;
  margin-left: 35%;
}

.videosite {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 4.5%;
}

.virksomhedssite {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 60%;
  margin-left: 5%;
}

.pitch_tekst {
  color: #5005f2;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
}

/************************* video *********************************************/

.iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
}

iframe {
  width: 100%;
  height: auto;

  aspect-ratio: 16 / 9;
}

img,
video {
  width: 100%;
  height: auto;
}

/****************************** tema 5 ****************************************/

@media (min-width: 800px) {
  .indhold {
    color: #5005f2;
    font-size: 30px;
    font-family: mixta-didone, serif;
    margin-top: 10%;
    margin-left: 43.5%;
  }

  .grid_videosite {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .videosite {
    color: #5005f2;
    font-size: 20px;
    font-family: mixta-didone, serif;
    margin-top: 7%;
    margin-left: 13.5%;
  }

  .videosite_tekst {
    color: #5005f2;
    font-family: mixta-didone, serif;
    margin-top: 0%;
    margin-left: 13.5%;
  }

  .iframe-wrapper {
    position: relative;
    width: 70%;
    height: 0;
  }

  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin-top: 10%;
    margin-left: 24%;
  }

  img,
  video {
    width: 100%;
    height: auto;
  }

  .virksomhedssite {
    color: #5005f2;
    font-size: 20px;
    font-family: mixta-didone, serif;
    margin-top: 10%;
    margin-left: 6.5%;
  }

  .pitch_tekst {
    color: #5005f2;
    font-family: mixta-didone, serif;
    margin-top: 0%;
    margin-left: 6.5%;
  }
}

/****************************** tema 6 ************************/
.portfolio_overskrift {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: -213%;
  margin-left: 31%;
}

.portfolio {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 5%;
  margin-left: 5%;
}

.portfolio_tekst {
  color: #5005f2;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
}

@media (min-width: 800px) {
}

/****************************** om mig ************************/
.navn {
  color: #5005f2;
  font-size: 43px;
  font-family: mixta-didone, serif;
  margin-top: -210%;
  margin-left: 5%;
}

.navn::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #5005f2;
  margin-top: 10px;
  width: 95%;
}

.cv {
  height: auto;
  width: 70%;
  margin-top: 5%;
  margin-left: 14%;
}

.mig {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 4%;
  margin-left: 4.5%;
}

.mig_tekst {
  color: #5005f2;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
}

.mig_tekst::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #5005f2;
  margin-top: 10px;
  width: 100%;
}

.fritid::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #5005f2;
  margin-top: 10px;
  width: 100%;
}

.fritid {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 4%;
  margin-left: 4.5%;
}

.fritid_tekst::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #5005f2;
  margin-top: 10px;
  width: 100%;
}

.uddannelse {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 4%;
  margin-left: 4.5%;
}

.uddannelse_tekst {
  color: #5005f2;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 4.5%;
  list-style-type: none;
  line-height: 1.5;
}

.uddannelse_tekst::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #5005f2;
  margin-top: 10px;
  width: 100%;
}

.kompetencer {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 4%;
  margin-left: 4.5%;
}

.kompentencer_tekst {
  color: #5005f2;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 4.5%;
  list-style-type: none;
  line-height: 1.5;
}

.kompentencer_tekst::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #5005f2;
  margin-top: 10px;
  width: 100%;
}

.erfaring {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 4%;
  margin-left: 4.5%;
}

.erfaring_tekst::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #5005f2;
  margin-top: 10px;
  width: 100%;
}

.skills {
  color: #5005f2;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 4%;
  margin-left: 4.5%;
}

.skills_svg {
  aspect-ratio: 911/549;
  height: auto;
  width: 70%;
  margin-top: 3%;
  margin-left: 5%;
}

@media (min-width: 800px) {
  .navn {
    grid-column: 1 / span 4;
    grid-row: 2;
    color: #5005f2;
    font-size: 43px;
    font-family: mixta-didone, serif;
    margin-top: 10%;
    margin-left: 5%;
  }

  .navn::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #5005f2;
    margin-top: 10px;
    width: 95%;
  }

  .mig {
    grid-column: 1 / span 4;
    grid-row: 3;
    color: #5005f2;
    font-size: 20px;
    font-family: mixta-didone, serif;
    margin-top: 1%;
    margin-left: 5%;
  }

  .mig_tekst {
    grid-column: 1 / span 4;
    grid-row: 3;
    color: #5005f2;
    font-size: 15px;
    font-family: mixta-didone, serif;
    margin-top: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .mig_tekst::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #5005f2;
    margin-top: 10px;
    width: 100%;
  }

  .grid_ommig {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cv {
    grid-column: 2;
    grid-row: 3;
    height: auto;
    width: 70%;
    margin-left: 17%;
    margin-top: 2%;
  }

  .fritid::before {
    display: none;
  }

  .fritid {
    grid-column: 1;
    grid-row: 3;
    margin-top: 2%;
    margin-left: 10%;
  }

  .fritid_tekst {
    grid-column: 1;
    grid-row: 3;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 5%;
  }

  .fritid_tekst::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #5005f2;
    margin-top: 10px;
    width: 105.5%;
  }

  .uddannelse {
    grid-column: 1;
    grid-row: 3;
    margin-top: 15%;
    margin-left: 10%;
  }

  .uddannelse_tekst {
    grid-column: 1;
    grid-row: 4;
    margin-top: -22%;
    margin-left: 10%;
  }

  .uddannelse_tekst::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #5005f2;
    margin-top: 10px;
    width: 100%;
  }

  .kompetencer {
    grid-column: 1;
    grid-row: 3;
    margin-left: 10%;
    margin-top: 29%;
  }

  .kompentencer_tekst {
    grid-column: 1;
    grid-row: 3;
    margin-top: 34%;
    margin-left: 10%;
  }

  .kompentencer_tekst::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #5005f2;
    margin-top: 10px;
    width: 100%;
  }

  .erfaring {
    grid-column: 1;
    grid-row: 4;
    margin-top: 2%;
    margin-left: 10%;
  }

  .erfaring_tekst {
    grid-column: 1;
    grid-row: 4;
    margin-left: 10%;
    margin-top: 6%;
  }

  .erfaring_tekst::after {
    display: none;
  }

  .skills::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #5005f2;
    margin-top: 10px;
    width: 90%;
  }

  .skills {
    grid-column: 2;
    grid-row: 4;
    margin-left: 13%;
    margin-top: 3%;
  }

  .skills_svg {
    aspect-ratio: 911/549;
    height: auto;
    width: 50%;
    grid-column: 2;
    grid-row: 4;
    margin-top: 9%;
    margin-left: 13%;
  }
}
