* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: mixta-didone, serif;
  background-color: #f2ece4;
}

img {
  width: 100%;
  height: auto;
}

nav {
  display: none;
}

header {
  position: relative;
  padding: 10px;
}

p {
  color: #d92929;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
  white-space: pre-line;
}

.overskrift {
  color: #d92929;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 35%;
}

.logo {
  width: 33%;
  height: auto;
  position: relative;
  left: 3%;
  top: 4px;
}
/********************* menu ****************************/

#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 30px;
  overflow: visible;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
  content: "";
}

#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 27px;

  background: #000;
}

#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
  background: #000;
}

#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 27px;
  background: #000;
}

#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
  background: rgb(0, 0, 0);
}

#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
  background: rgb(0, 0, 0);
}

#burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}

#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: #f2ece4;
}

#menu ul {
  padding: 0;
}

#menu li {
  list-style: none;
  font-family: mixta-didone, serif;
}

#menu a {
  color: #d92929;
  display: block;
  font-size: 25px;
  margin-bottom: 30px;
  text-decoration: none;
}

@media (max-width: 767px) {
  #menu {
    height: 100vh;
    overflow: hidden;
  }

  #menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
  }

  #menu li {
    margin-bottom: 20px;
  }
}

/* Styling for websitet (menu) */
@media (min-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

  #burger-menu {
    display: none;
  }

  #menu {
    visibility: visible;
    opacity: 1;
    height: auto;
    padding-top: 0;
  }

  #menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu li {
    margin: 0 15px;
  }

  #menu a {
    margin-top: 100%;
    font-size: 20px;
    font-family: mixta-didone, serif;
  }

  #menu a:hover {
    text-decoration: underline;
  }

  .overskrift {
    color: #d92929;
    font-size: 20px;
    font-family: mixta-didone, serif;
    margin-left: 47%;
  }
}

/*********************** forside **********************/
.forside_tekst {
  transform: rotate(270deg);
  margin-left: -65%;
  margin-top: 60%;
  font-family: mixta-didone, serif;
  font-size: 40px;
  letter-spacing: 20px;
  color: #d92929;
}

.forside_tekst2 {
  aspect-ratio: 1430/167;
  height: auto;
  width: 100%;
  transform: rotate(270deg);
  margin-left: -30%;
  margin-top: 5%;
}

.forside_billede {
  width: 70%;
  height: auto;
  margin-left: 20%;
  margin-top: -35%;
}

.navn {
  color: #d92929;
  font-size: 30px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 48%;
}

@media only screen and (min-width: 800px) {
  .forside_tekst {
    transform: rotate(270deg);
    margin-left: -65%;
    margin-top: 40%;
    font-family: mixta-didone, serif;
    font-size: 60px;
    letter-spacing: 20px;
    color: #d92929;
    padding-left: 78%;
    padding-top: 0%;
  }

  .forside_tekst2 {
    aspect-ratio: 1430/167;
    height: auto;
    width: 35%;
    transform: rotate(270deg);
    padding-left: 54%;
    margin-left: -25%;
  }

  .forside_billede {
    width: 30%;
    height: auto;
    margin-left: 30%;
    margin-top: -37%;
    position: absolute;
  }

  .navn {
    color: #d92929;
    font-size: 30px;
    font-family: mixta-didone, serif;
    margin-top: -20%;
    margin-left: 50%;
  }
}

/************************ tema 2 ****************************/

.web {
  color: #d92929;
  font-size: 40px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 30%;
}

.website {
  color: #d92929;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
}

.website_tekst {
  color: #d92929;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
}

.computer {
  width: 70%;
  height: auto;
  margin-left: 15%;
}

.emnesite {
  color: #d92929;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 10%;
  margin-left: 5%;
}

.emnesite_tekst {
  color: #d92929;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
}

@media only screen and (min-width: 800px) {
  .web {
    color: #d92929;
    font-size: 50px;
    font-family: mixta-didone, serif;
    margin-top: 12%;
    margin-left: 45%;
  }

  .grid_website {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .website {
    color: #d92929;
    font-size: 30px;
    font-family: mixta-didone, serif;
    margin-top: 0%;
    margin-left: 15%;
    grid-row: 1;
    grid-column: 1;
  }

  .website_tekst {
    color: #d92929;
    font-size: 25px;
    font-family: mixta-didone, serif;
    margin-top: 10%;
    margin-left: 15%;
    grid-row: 1;
    grid-column: 1;
  }

  .computer {
    width: 30%;
    height: auto;
    margin-left: 15%;
    grid-row: 1;
    grid-column: 2;
  }

  .grid_emnesite {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.5rem;
    grid-auto-rows: 300px;
  }

  .emnesite {
    color: #d92929;
    font-size: 30px;
    font-family: mixta-didone, serif;
    margin-top: 10%;
    margin-left: 5%;
  }

  .emnesite_tekst {
    color: #d92929;
    font-size: 25px;
    font-family: mixta-didone, serif;
    margin-top: 0%;
    margin-left: 5%;
  }
}

/************************** tema 3 **********************/
.ux {
  color: #d92929;
  font-size: 40px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 35%;
}

.pitch {
  color: #d92929;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
}

.pitch_tekst {
  color: #d92929;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
}

.grid_pitch {
  width: 70%;
  height: auto;
  margin-left: 15%;
}

@media only screen and (min-width: 800px) {
  .ux {
    color: #d92929;
    font-size: 50px;
    font-family: mixta-didone, serif;
    margin-top: 12%;
    margin-left: 45%;
  }

  .pitch {
    color: #d92929;
    font-size: 30px;
    font-family: mixta-didone, serif;
    margin-top: 0%;
    margin-left: 15%;
  }

  .pitch_tekst {
    color: #d92929;
    font-size: 25px;
    font-family: mixta-didone, serif;
    margin-top: 0%;
    margin-left: 15%;
  }

  .grid_pitch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    height: auto;
    margin-left: 15%;
    gap: 15px;
  }
}

/*************** pop up ********************/
.gallery img {
  cursor: pointer;
}

.gallery {
  position: relative;
  cursor: pointer;
  margin-bottom: 27px;
  padding: 50px 20px;
  margin-top: -50px;
  text-align: center;
}

.gallery {
  padding: 50px 20px;
  margin-top: -50px;
  text-align: center;
}

.gallery h2 {
  padding: 0px 0px;
  margin-top: 50px;
  text-align: center;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2ece4;
  z-index: 999;
}

.popup_tekst {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2ece4;
  padding: 20px;
  text-align: center;
  width: 70%;
  height: 73%;
  overflow-y: scroll;
}

.popup img {
  width: 90%;
  height: auto;
  margin-bottom: 10px;
}

.popup h2 {
  font-size: 19px;
  margin-bottom: 10px;
}

.popup p {
  font-size: 16px;
  padding-right: 7px;
  text-align: justify;
  word-spacing: -3.5px;
}

.close {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  font-family: mixta-didone, serif;
}

@media only screen and (min-width: 800px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10%;
    row-gap: 4rem;
  }

  .gallery-image img {
    cursor: pointer;
    width: 70%;
    height: auto;
    position: relative;
  }

  .gallery-image img:hover {
    opacity: 0.8;
  }

  .gallery-image h2 {
    position: relative;
    font-size: 2rem;
    text-align: center;
    cursor: default;
    margin-top: 10px;
  }

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2ece4;
    z-index: 999;
  }

  .popup_tekst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2ece4;
    padding: 20px;
    text-align: center;
    width: 40%;
    height: 73%;
    overflow-y: scroll;
  }

  .popup img {
    width: 74%;
    height: auto;
    margin-bottom: 10px;
  }

  .close {
    position: fixed;
    top: -4px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
    font-weight: lighter;
    font-family: mixta-didone, serif;
  }
}
