/*********************** forside **********************/
.forside_tekst {
  margin-left: 5%;
  margin-top: -210%;
  font-family: mixta-didone, serif;
  font-size: 30px;
  letter-spacing: 20px;
  color: #5005f2;
}

.produtiv {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-top: 0%;
  margin-left: 4%;
}

.optimistisk {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 16%;
  margin-top: -32%;
}

.rar {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 27%;
  margin-top: -40%;
}

.trofast {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 38%;
  margin-top: -8%;
}

.fornuftig {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 48%;
  margin-top: -24%;
}

.opmærksom {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 60%;
  margin-top: -32%;
}

.lille {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 70%;
  margin-top: -32%;
}

.impulsiv {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 80%;
  margin-top: -17%;
}

.ordentlig {
  color: #5005f2;
  font-family: mixta-didone, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 90%;
  margin-top: -28%;
}

@media (min-width: 800px) {
  .forside_tekst {
    margin-left: -60%;
    margin-top: 20%;
    font-family: mixta-didone, serif;
    font-size: 100px;
    letter-spacing: 50px;
    color: #5005f2;
    padding-left: 78%;
    padding-top: 0%;
  }

  .produtiv {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: 0%;
    margin-left: 18.5%;
    font-size: 20px;
  }

  .optimistisk {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 27.2%;
    margin-top: -10.5%;
    font-size: 20px;
  }

  .rar {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 35.5%;
    margin-top: -13.2%;
    font-size: 20px;
  }

  .trofast {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 43%;
    margin-top: -2.7%;
    font-size: 20px;
  }

  .fornuftig {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 49.8%;
    margin-top: -8%;
    font-size: 20px;
  }

  .opmærksom {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 58.6%;
    margin-top: -10.5%;
    font-size: 20px;
  }

  .lille {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 65.7%;
    margin-top: -10.3%;
    font-size: 20px;
  }

  .impulsiv {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 73.3%;
    margin-top: -5.5%;
    font-size: 20px;
  }

  .ordentlig {
    color: #5005f2;
    font-family: mixta-didone, serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 80.7%;
    margin-top: -9.5%;
    font-size: 20px;
  }
}
/************************ tema 2 ****************************/

.web {
  color: #5005f2;
  font-size: 40px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 30%;
}

.website {
  color: #d92929;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
}

.website_tekst {
  color: #d92929;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
}

.computere {
  width: 70%;
  height: auto;
  margin-left: 15%;
}

.mincomputer {
  width: 70%;
  height: auto;
  margin-left: 15%;
}

.emnesite {
  color: #d92929;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 10%;
  margin-left: 5%;
}

.emnesite_tekst {
  color: #d92929;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
}

@media only screen and (min-width: 800px) {
  .web {
    color: #5005f2;
    font-size: 50px;
    font-family: mixta-didone, serif;
    margin-top: 12%;
    margin-left: 45%;
  }

  .grid_website {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .website {
    color: #d92929;
    font-size: 30px;
    font-family: mixta-didone, serif;
    margin-top: 0%;
    margin-left: 15%;
    grid-row: 1;
    grid-column: 1;
  }

  .website_tekst {
    color: #d92929;
    font-size: 25px;
    font-family: mixta-didone, serif;
    margin-top: 10%;
    margin-left: 15%;
    grid-row: 1;
    grid-column: 1;
  }

  .computere {
    width: 50%;
    height: auto;
    margin-left: 52%;
    margin-top: 10%;
    grid-row: 1;
    grid-column: 2;
  }

  .mincomputer {
    width: 50%;
    height: auto;
    margin-left: 5%;
    grid-row: 1;
    grid-column: 3;
    margin-top: 8%;
  }

  .emnesite {
    color: #d92929;
    font-size: 30px;
    font-family: mixta-didone, serif;
    margin-top: 10%;
    margin-left: 5%;
  }

  .emnesite_tekst {
    color: #d92929;
    font-size: 25px;
    font-family: mixta-didone, serif;
    margin-top: 0%;
    margin-left: 5%;
  }
}

/************************** tema 3 **********************/
.ux {
  color: #d92929;
  font-size: 40px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 35%;
}

.pitch {
  color: #d92929;
  font-size: 20px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
}

.pitch_tekst {
  color: #d92929;
  font-size: 15px;
  font-family: mixta-didone, serif;
  margin-top: 0%;
  margin-left: 5%;
}

.grid_pitch {
  width: 70%;
  height: auto;
  margin-left: 15%;
}

@media (min-width: 800px) {
  .ux {
    color: #d92929;
    font-size: 50px;
    font-family: mixta-didone, serif;
    margin-top: 12%;
    margin-left: 45%;
  }

  .pitch {
    color: #d92929;
    font-size: 30px;
    font-family: mixta-didone, serif;
    margin-top: 0%;
    margin-left: 15%;
  }

  .pitch_tekst {
    color: #d92929;
    font-size: 25px;
    font-family: mixta-didone, serif;
    margin-top: 0%;
    margin-left: 15%;
  }

  .grid_pitch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    height: auto;
    margin-left: 15%;
    gap: 15px;
  }
}
